body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 2fr 1fr 8fr 2fr;
  grid-template-areas: "head"
                      "nav"
                      ".container"
                      "footer"
}

h1 {
  font-family: 'New Rocker', cursive;
  text-align: center;
  padding-top: 25px;
}

#presentation {
  margin: 40px;
  padding: 15px;
  border: solid 2px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

footer{
  background-color: grey;
}

#plan {
  padding-left: 20%;
  padding-top: 20px;
}