body {
  background: rgb(118, 118, 119);
  color: rgb(0, 1, 2);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 2fr 1fr 8fr 1fr;
  grid-template-areas: "head"
                      "nav"
                      ".container"
                      "footer"
}

h1 {
  grid-area: "head";
  color: black;
  font-family: 'New Rocker', cursive;
  font-size: 500%;
  text-align: center;
  padding-top: 25px;
}

nav {
  grid-area: "nav";
}

#presentation,
#profil,
#groupe {
  margin: 50px;
  padding: 15px;
  border: solid 2px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background: rgb(200, 200, 202);
}

a {
  color: red;
}

#profil-container,
#groupe-list {
  display: flex;
  justify-content: space-around;
}

#profil > img,
#groupe > img {
  width: 200px;
  height: auto;
  border-radius: 10%;
  padding: 15px;
}

#concert > img,
#concert > p {
  margin: 50px;
  text-align: center;
}

.float-img-left {
  display: flex;
  float: left;
}

#localisation {
  margin: 50px;
}

#map {
  display: flex;
  float: right;
}

footer{
  grid-area: "footer";
  background: rgb(81, 81, 82)
}

#plan {
  padding-left: 20%;
}